<main class="chat-wrapper">
    <header>
        <button (click)="back()">
            <app-arrow-left class="arrow-left" />
        </button>
        <app-museum class="museum"/>
        <div class="status">
            <p>Museum</p>
            <span>• Online</span>
        </div>
    </header>
    <section class="chat-content">
        <pre>{{ questions }}</pre>
        <app-chat-suggestions *ngIf="questions.length === 0" (questionSelected)="sendSuggestedQuest($event)" />
        <app-chat-dialog *ngIf="questions.length > 0" [messages]="questions" />
    </section>
</main>