:root {
    --primary-color: #FF8966;
    --primary-text: #757575;
    --secondary-text: #3E3E3E;
    --bold-text: #3E3E3E;
    --online-color: #3ABF38;
    --primary-bg: #FFF;
    --secondary-bg: #F4F4F4;
    --border-color: #ECECEC;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}